
.mainContainer{
    width: 100%;
    
}
.aboutContainer{
   
width: 60%;
box-shadow: 2px 2px 10px rgba(210, 209, 223, 0.3);
border-radius: 10px;
position: relative;
left: 10%;
top: 166px;
margin: auto;
display: flex;
align-items: center;
justify-content: flex-end;
}
.aboutContainer>form{
    width: 60%;
    height: 260px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

.but{
    width: 78%;
     height: 48px;
    color: white;
     background: #F4B42A;
     border-radius: 10px;
     display: flex;
 flex-direction: row;
 justify-content: center;
 align-items: center;
 padding: 14px 0px;
 gap: 10px;
 border: none;
 font-size: 16px;
 }