body {
  box-sizing: border-box;
  margin: 0;
    padding: 0;
  
}


.css-9ddj71-MuiInputBase-root-MuiOutlinedInput-root{
  display: flex;
  justify-content: center;
  align-items: center;
}

.css-bpeome-MuiSvgIcon-root-MuiSelect-icon{
  color:#683b68 !important; 
}

.css-1869usk-MuiFormControl-root {
 
  display: inline-flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  position: relative;
  min-width: 0;
  padding: 0;
  margin: 0;
 border: none;
  vertical-align: top;
  margin: 8px;
  min-width: 120px;
}

.css-1yk1gt9-MuiInputBase-root-MuiOutlinedInput-root-MuiSelect-root {
 
  height: 33px;

}
.css-nxo287-MuiInputBase-input-MuiOutlinedInput-input {
 
  padding: 12.5px 0px;
  padding-right: 0;
}

.css-1nrlq1o-MuiFormControl-root {
  width: 77%;
 
}
.css-6hp17o-MuiList-root-MuiMenu-list {
  list-style: none;
  margin: 0;
  padding: 0;
  position: relative;
  padding-top: 8px;
  padding-bottom: 8px;
  outline: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.css-1d3z3hw-MuiOutlinedInput-notchedOutline {

  display: none;
}
