
.filingsDivContainer{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.mainContainerDiv{
    width: 60%;
 position: relative;
 left: 10%;
 top: 107px;
 margin: auto;

}
.divFilings{
    
    display: flex;
    font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 20px;
letter-spacing: 0.05em;
align-items: center;
color: #6F6F6F;
}
.divFilings>img{
    margin-right: 1em;
    width: 13.33px;
    height: 12.96px;
}
.divProgress{
   
font-family: 'Neue Haas Grotesk Text Pro';
font-style: normal;
font-weight: 700;
font-size: 30px;
line-height: 85px;
color: #000000;
}
.divProgress1{

    font-family: 'Questrial';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #6F6F6F;
}
.divProgress2{
   
height: 20px;
font-family: 'Questrial';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 50px;
color: #6F6F6F;
}
.divProgress2>span{
    font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 20px;
color: #F4B42A;
border: 0.3px solid #F4B42A;
margin-left: 0.5em;
}


.divReady1{
    width: 30%;
    background: #FFFFFF;
box-shadow: 2px 2px 10px rgba(210, 209, 223, 0.3);
border-radius: 10px;
height: 250px;
margin-top: 50px;
}
.divReadyContainer{
    margin-top: 50px;
}

